<div id="my_form">	
	<%= form_for @todo do |f| %>

	<p>
	  <%= label_tag(:title, "title") %> </br>
	  <%= f.text_field :title %>
	</p>

	</br>

	<p>
	  <%= label_tag(:description, "description") %> </br>
	  <%= f.text_area :description %>
	</p>

	</br>

	  <%= f.submit "submit" %>

	<% end %>
